# /etc/systemd/system/rclone.service
[Unit]
Description=Rclone for %i
#AssertPathIsDirectory=%h/%i
After=network-online.target
Wants=network-online.target 

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkdir -p %h/%i
ExecStart=/usr/bin/rclone mount \
        --config=%h/.config/rclone/rclone.conf %i: %h/%i
ExecStop=/bin/fusermount -u %h/%i
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
