[Unit]
Description=Redshift - Adjusts the color temperature of your screen
Documentation=man:redshift(1)
After=graphical.target

[Service]
ExecStart=/usr/bin/redshift
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
