[user]
	name = amenpunk
    email = ondasycircuitos@gmail.com
	signingkey = BA020F5FB37B8EF0
[credential]
	helper = store
[alias]
    lista = log --oneline --decorate --graph --all
    sinramas = log --oneline --decorate --graph
    deshacer = restore --staged
    firmar = commit -a -S -m
[core]
	editor = vim
[color]
	ui = auto
[filesystem "Oracle Corporation|1.8.0_262|/dev/sda3"]
	timestampResolution = 1001 microseconds
	minRacyThreshold = 0 nanoseconds
