[user]
	name = amenpunk
    email = ondasycircuitos@gmail.com
[credential]
	helper = store
[alias]
    lista = log --oneline --decorate --graph --all 
    sinramas = log --oneline --decorate --graph
    deshacer = restore --staged
[core]
	editor = vim
