!URxvt.buffered:         true
!URxvt.background:       gray12

    
!URxvt.underlineColor:   yellow
!URxvt.font: xft:monaco:size=10
!URxvt.font:             xft:undefined-medium:pixelsize=10:antialias=true, xft:FontAwesome:pixelsize=11
!URxvt.letterSpace: 1
!URxvt.boldFont:         xft:undefined-medium:bold:pixelsize=10:antialias=true


!URxvt.font: xft:Consolas:style=Regular:size=10
!URxvt.boldFont: xft:Consolas:style=bold:size=10


! pixels for external border
URxvt*externalBorder:     0
! pixels for internal border
URxvt*internalBorder:     0
! remove border
URxvt*borderLess:         false

! enable scrollbar
URxvt*scrollBar:          false   
! scrollbar width
URxvt*thickness:          5
! scrollbar color

! scrollbar trough area color

! scrollbar without a trough
!URxvt*scrollBar_floating: false
! scrollbar to the right
URxvt*scrollBar_right:    true
! scrollbar style
URxvt*scrollstyle:        plain

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select

URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k


!URxvt.cursorColor:      #0A9DFF
!URxvt.foreground:       #FFFFFF
!uRxvt.highlightColor:   #0A9DFF

!URxvt.color0:           #000000
!URxvt.color1:           #FF0000
!URxvt.color2:           #A6E22E
!URxvt.color3:           #FD971F
!URxvt.color4:           #161616
!URxvt.color5:           #F92672
!URxvt.color6:           #66D9EF
!URxvt.color7:           #F2F2F2
!URxvt.color8:           #5D5D5D
!URxvt.color9:           #FF0000
!URxvt.color10:          #A6E22E
!URxvt.color11:          #FD971F
!URxvt.color12:          #161616
!URxvt.color13:          #F92672
!URxvt.color14:          #66D9EF
!URxvt.color15:          #FFFFFF
!URxvt.internalBorder:  10

!URxvt.externalBorder:  0
xterm*font: Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=12
XTerm*faceName: Droid Sans Mono for Powerline Plus Nerd File Types Mono
xterm*faceSize: 16
xterm*vt100*geometry: 60x60
