@charset "UTF-8";
/*
 "myfavolours" - global custom colour scheme
 http://userstyles.org/styles/2187
 BEGIN
*/
/*
 summary:
 - basic background = dark grey
 - basic text = light grey
 - "semantic" importance = contrast
 - unvisited links (and form labels) = aquamarine
 - visited links = light green
 - form elements, :hover, :focus, and more

 latest revisions
 2008-08-18: FF3 fix
 2010-01-07: minor fixes
 2011-11-01: view-source, "progressmeters"
*/
@namespace url(http://www.w3.org/1999/xhtml);
/*** init
 - setting basic colours / background
 - disabling (most of) background images
*/
/* Disabling text-indent will bring back text of most of "graphical" headings
 off by default, to comply with "nothing but colours" rule
/on*off/
html *
{ text-indent      : 0 !important
}
/* */
html,
html *:not(:empty):not(.Emoticon),
html *:after,
html *:before {
  background-image: none !important;
}

html {
  background-color: #000 !important;
  border-color: #61985D !important;
}

body {
  background-color: transparent !important;
  border-color: #61985D !important;
  color: #61985D !important;
}

body#body, window {
  background-color: #000 !important;
}

body *,
html *:after,
html *:before {
  background-color: #000 !important;
  border-color: #30A66D !important;
  color: #85699B !important;
  text-shadow: none !important;
}

/*** semantic blocks
*/
/** top header:
*/
/* - wannabe
*/
.head,
.header,
*[id*=title],
*[id*=Title],
*[id*=head],
*[id*=Head],
*[class*=header],
*[class*=Header],
*[id*=hlavicka],
*[id*=Hlavicka],
*[class*=hlavicka],
*[class*=Hlavicka] {
  background-color: #000000 !important;
}

/* - real
*/
header,
#head,
#header,
#top {
  background-color: #000 !important;
}

/** navigation ( the 'menu predicting magic' )
*/
/* - wannabe
*/
*[id*=nav] *[class*=page],
.navlist a,
.Navlist a,
*.navigation a,
*[id*=menu] a,
*[id*=Menu] a,
*[id*=navig] a,
*[id*=Navig] a,
*[id*=-nav] a,
*[id*=-Nav] a,
*[id$=nav] a,
*[id$=Nav] a,
*[class*=menu] a,
*[class*=Menu] a,
*[class*=navig] a,
*[class*=Navig] a,
*[class*=-nav] a,
*[class*=-Nav] a,
*[class$=nav] a,
*[class$=Nav] a {
  background-color: #000000 !important;
}

/* - real
*/
label,
nav a,
menu a,
#menu a,
#navigation a {
  background-color: #000 !important;
}

div[class*=menu][class*=vertical] {
  background-color: #000 !important;
}

/*
 above ID selectors would override below rules
 due # selector priority
 so that's why this :
*/
#menu a:hover,
#navigation a:hover,
*[class*=menu][class*=item]:hover {
  background-color: #000 !important;
}

/** aside:
*/
/* - wannabe
*/
div[id*=side],
div[id*=Side],
div[class*=side],
div[class*=Side] {
  background-color: #000000 !important;
}

/* - real
*/
aside,
.aside,
#aside {
  background-color: #000 !important;
}

/** footer
*/
footer,
div[id*=foot],
div[class*=foot],
div[id*=paticka],
div[class*=paticka] {
  background-color: #000 !important;
}

/** others semantic blocks
 ( yet unimplemented )
*/
/*
article
{ }
#main
{ }
#content
{ }
section  ,
.section
{ }
.divider
{ }
/* */
/** anonymous heading elements
*/
*[class*=heading],
*[class*=Heading],
*[id*=heading],
*[id*=Heading],
*[class*=nadpis],
*[class*=Nadpis],
*[id*=nadpis],
*[id*=Nadpis] {
  border-color: #61985D !important;
  color: #eee !important;
}

/*** concrete HTML block elements
*/
/** headers
 h1 , h2 , h3 , h4 , h5 , h6
 caption , th , lh , dt , legend
*/
h1 {
  background-color: #000 !important;
  border-color: #61985D !important;
  color: #D5A659 !important;
}

h2,
h3,
h4,
h5,
h6,
caption,
thead,
th,
lh,
dl dt,
html fieldset legend {
  background-color: #000 !important;
  border-color: #61985D !important;
  color: #D5A659 !important;
}

/** other stuff
 now they have the same colour;
 it would be nice if it was distinguishable simply by colour
*/
blockquote,
code,
tt,
xmp,
pre {
  background-color: #000000 !important;
}

td {
  border-color: #555 !important;
}

hr {
  background-color: #000 !important;
  border-color: #61985D !important;
  color: #61985D !important;
}

/*** concrete HTML inline elements
 - just colour altered
*/
/** emphasis:
*/
/* - wannabe
*/
*[id*=important],
*[id*=Important],
*[class*=important],
*[class*=Important] {
  border-color: #61985D !important;
  color: #D5A659 !important;
}

/* - wannabe #2
 ( yes, it is NOT semantic, but this is usefull, trust me ;] )
*/
b,
b *,
i,
i * {
  border-color: #61985D !important;
  color: #eee !important;
}

/* - real
*/
em,
em *,
strong,
strong * {
  border-color: #61985D !important;
  color: #D5A659 !important;
}

/*** common "semantic" classes
 initally based on WHATWG HTML5 specs draft
 ("semantic classes" have been rejected)
 but here may be very usefull
*/
/** current / active
 usefull especially for
 - "active" tabs,
 - "current" links in menu
*/
#current,
#selected,
#active,
.current,
.selected,
.active,
.current a,
.selected a,
.active a {
  background-color: #000 !important;
  color: #D5A659 !important;
}

*[id*=Current],
*[id*=Selected],
*[id*=Active],
*[id*=current],
*[id*=selected],
*[id*=active],
*[class*=Current],
*[class*=Selected],
*[class*=Active],
*[class*=current],
*[class*=selected],
*[class*=active],
*[id*=Current] a,
*[id*=Selected] a,
*[id*=Active] a,
*[id*=current] a,
*[id*=selected] a,
*[id*=active] a,
*[class*=Current] a,
*[class*=Selected] a,
*[class*=Active] a,
*[class*=current] a,
*[class*=selected] a,
*[class*=active] a {
  background-color: #000 !important;
  color: #eee !important;
}

/** other not-so-common classes
*/
.copyright {
  color: #8D6E4E !important;
}

.error {
  color: #8D6E4E !important;
}

.warning {
  color: #30A66D !important;
}

.example {
  color: #61985D !important;
}

.issue {
  color: #979462 !important;
}

.note {
  color: #D5A659 !important;
}

.search {
  color: #D5A659 !important;
}

/** other funny WHATWG stuff
*/
/** links and interactive stuff
 that is: links, labels and any other form element
 with :hover / :active / :focus states
*/
/* tables, lets see */
table {
  background-color: #000000 !important;
}

thead, tfoot {
  background-color: #000 !important;
}

/* "onclick warning"
 raising priority
*/
html body *[onclick]:hover,
html body *[ondblclick]:hover,
a[href^="javascript:"],
a[href="#"] {
  background-color: #000 !important;
}

/* properly coded label will behave as unvisited link
*/
label[for],
a:link,
a:link * {
  border-color: #61985D !important;
  color: #9ef !important;
}

label[for]:focus,
label[for]:hover,
a:link:focus,
a:link:hover {
  background-color: #000 !important;
  border-color: #9ef !important;
  color: #eff !important;
}

a:link:focus *,
a:link:hover * {
  border-color: #61985D !important;
  color: #eff !important;
}

a:visited,
a:visited * {
  border-color: #61985D !important;
  color: #D5A659 !important;
}

a:visited:focus,
a:visited:hover {
  background-color: #000 !important;
  border-color: #85699B !important;
  color: #D5A659 !important;
}

a:visited:focus *,
a:visited:hover * {
  border-color: #61985D !important;
  color: #D5A659 !important;
}

/* active link. no matter if visited or not
*/
a:active,
a:active * {
  border-color: #61985D !important;
  color: #8D6E4E !important;
}

/** form elems and some IMO neat effects
*/
html button,
html select,
html input {
  background-color: #000 !important;
}

html input[type=password] {
  background-color: #000 !important;
}

html area,
html input[type=text],
html input:not([type]) {
  background-color: #000 !important;
  color: #85699B !important;
}

html input:hover,
html button:hover,
html select:hover,
html textarea:hover {
  color: #85699B !important;
  border-color: #ccc !important;
  background-color: #000 !important;
}

html textarea:focus,
html input:focus,
html textarea:focus,
html button:focus {
  background-color: #000 !important;
  border-color: #999 !important;
  color: #ccc !important;
}

html textarea:focus:hover,
html input:focus:hover,
html button:focus:hover,
html textarea:focus:hover {
  border-color: #61985D !important;
}

html input[type=password]:focus {
  background-color: #000 !important;
}

input[disabled] {
  color: #888 !important;
}

/*** fixes and tweaks
 most of them are IMO obsolete
*/
/** FF3 fix, hope it will work
 +2008-08-18+
 is it still necessary?
*/
html button,
html select,
html input,
html textarea {
  /*
   -moz-appearance : none !important
  */
  background-image: none !important;
}

/** give solid bg to some elems that deserve it
*/
/* dropdowns that was not catched
 * by above 'menu predicting magic'
*/
*[class*=content],
li:hover li {
  background-color: #000 !important;
}

/* wd DOM inspector
*/
div[id^=webdeveloper] {
  background-color: #000 !important;
}

/* flashblock. bruteforce.
*/
div[style~="url(chrome://flashblock/content/flash.png)"] {
  background-color: #000 !important;
}

/* last.fm
*/
td.quantifier > div,
div.graph > div#tomGraph {
  background-color: #000 !important;
}

/* search hilite
*/
span#__firefox-findbar-search-id {
  background-color: #000 !important;
}

*[class*=Overlay][class*=Dialog],
*[class*=modal],
*[id*=modal],
*[class*=dialog],
*[id*=wrapper],
*[class*=wrapper],
*[id*=Wrapper],
*[class*=Wrapper],
*[id*=tooltip],
*[class*=tooltip],
*[id*=Tooltip],
*[class*=Tooltip],
*[id*=popup],
*[class*=popup],
*[id*=Popup],
*[class*=Popup],
*[id*=flyout],
*[class*=flyout],
*[id*=Flyout],
*[class*=Flyout],
#pop {
  background-color: #000 !important;
}

#loading .lpb #lpt {
  background-color: #000 !important;
}

div#lbHoverNav a#lbPrev,
div#lbHoverNav a#lbNext {
  background-color: transparent !important;
}

/*
 common progressmeters / progressbars
*/
/*
<div class="pas fbQuestionsPollResultsBar" title="Twice?">
<div class="shaded" style="width:25.6%"></div>
*/
div[style^="width:"][style$="%"],
div[style^="width:"][style$="%;"],
div[class*=progress][style],
div[class*=bar][style] {
  background-color: #000 !important;
}

/*
 hovered images: light background
 helps with dark graphic text with transparency
*/
img:hover {
  background-color: #000 !important;
}

/*
FB tohot fix
*/
.fbPhotoSnowboxTagBoxes,
.tagsWrapper {
  background-color: transparent !important;
}

/*
 § view-source
*/
body#viewsource {
  margin: 0 !important;
}

body#viewsource,
body#viewsource pre {
  background-color: #000000 !important;
}

body#viewsource .start-tag {
  color: #8D6E4E !important;
}

body#viewsource .end-tag {
  color: #30A66D !important;
}

body#viewsource .comment {
  color: #61985D !important;
  font-style: normal !important;
}

body#viewsource .cdata {
  color: #8D6E4E !important;
}

body#viewsource .doctype {
  color: #30A66D !important;
}

body#viewsource .pi {
  color: #61985D !important;
  font-style: italic;
}

body#viewsource .entity {
  color: #979462 !important;
}

body#viewsource .text {
  color: #D5A659 !important;
}

body#viewsource .attribute-name {
  color: #30A66D !important;
}

body#viewsource .attribute-value {
  color: #61985D !important;
}

body#viewsource .markupdeclaration {
  color: #D5A659 !important;
}

body#viewsource .error,
body#viewsource .error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value) {
  color: #30A66D !important;
  font-weight: bold;
}

/*
 forum.pspad.com
*/
span.newmessage {
  color: #30A66D !important;
}

li#imagebox_bigimages > div,
#tphdr.tphdr,
#rg_h.rg_hv {
  background-color: #000 !important;
}

/*
 END
 "myfavolours" - global custom colour scheme
 http://userstyles.org/styles/2187
*/

/*# sourceMappingURL=per.css.map */
